.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.splide {
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: black;
    margin: 0 auto;
}

.splide__slide__container img {
    height: 400px;
    object-fit: contain;
    object-position: 50% 50%;
}

 body {
    margin: 50px;
    font-family: "Tropi Land";
    color: rgb(111, 3, 184);
    background-color: lavender;
    text-align: center;
}

/* 


h1 {
    font-size: 70px;
}

.splide {
    width: 800px;
    height: 400px;
    text-align: center;
    background-color: black;
    margin: 0 auto;
}

.splide__slide__container img {
    height: 400px;
    object-fit: contain;
    object-position: 50% 50%;
} */