
@font-face {
  font-family: "Tropi Land";
  src: local("Tropi Land"),
  url("/fonts/tropiland.ttf") format(".ttf");
}

.tropi {
    font-family: "Tropi Land", sans-serif;
}

.onest-text {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}